# PWA vars
VITE_APP_NAME="DSA Doku"
VITE_APP_SHORT_NAME="DSA Doku"

VITE_APP_BACKGROUND_COLOR="#ffffff"

VITE_APP_THEME_COLOR="#00858c"
VITE_APP_THEME_COLOR_FOREGROUND="#fff"

# API vars
VITE_API_BASE_URL="http://localhost:3000"
