# PWA vars
VITE_APP_NAME="Theatertage am See"
VITE_APP_SHORT_NAME="Theatertage"

VITE_APP_BACKGROUND_COLOR="#ffffff"

VITE_APP_THEME_COLOR="#ff0000"
VITE_APP_THEME_COLOR_FOREGROUND="#000000"

# API vars
VITE_API_BASE_URL="http://localhost:3000"
